{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}
{% block title %}
    Integrals
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Integrals</h1>
        </div>
        <form id=function_form method=post class="card p-2">
            <div class="input-group container-fluid" style="width:100%">
                {{ form.function_text.label }}:
                <div class="row">
                    <div class="col-sm-11">
                        {{ form.function_text(class="form-control", placeholder=form.function_text.label.text) }}
                    </div>
                    <div class="col-sm-1">
                        {{ form.submit(class="btn btn-secondary") }}
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                        {{ form.a(class="form-control", data_toggle='tooltip', title=form.a.label.text) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form.b(class="form-control", data_toggle='tooltip', title=form.b.label.text) }}
                    </div>
                    <div class="col-md-4">
                        {{ form.n(class="form-control", step=1, data_toggle='tooltip', title=form.n.label.text) }}
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.error_method_text(class="form-control", placeholder=form.error_method_text.label.text) }}
                    </div>
                </div>
            </div>
            {{ form.hidden_tag() }}
        </form>

        <div>
            <p class="lead text-muted" id="parse_error"></p>
            <p class="lead text-muted" id="int_result"></p>
            <p class="lead text-muted" id="diff_result"></p>
            <p class="lead text-muted" id="error_boundary_result"></p>
        </div>

        <div>
            <h3 id="RiemannTitle"></h3>
            <div id="RiemannImg"></div>
        </div>

        <div>
            <h3 id="DarbouxTitle"></h3>
            <div id="DarbouxImg"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}

    <script>
        $(function () {
            $('#function_form').submit(function () {
                console.log("submit function");
                var url = "{{ url_for('integrals.get_plot_post') }}";
                $.ajax({
                    url: url,
                    data: $('#function_form').serialize(),
                    type: 'POST',
                    success: function (data) {
                        console.log(data);
                        let parse_error = $("#parse_error");
                        let riemann_title = $("#RiemannTitle");
                        let riemann_img = $("#RiemannImg");
                        let darboux_title = $("#DarbouxTitle");
                        let darboux_img = $("#DarbouxImg");
                        let int_result = $("#int_result");
                        let diff_result = $("#diff_result");
                        let error_boundary_result = $("#error_boundary_result");
                        if (data['error']) {
                            parse_error.text(data['error']);
                            riemann_title.text("");
                            riemann_img.html("");
                            darboux_title.text("");
                            darboux_img.html("");
                            int_result.text("");
                            diff_result.text("");
                            error_boundary_result.text("");
                            return
                        }
                        parse_error.text("");
                        riemann_title.text(data['riemann_title']);
                        riemann_img.html(data['riemann_img']);
                        darboux_title.text(data['darboux_title']);
                        darboux_img.html(data['darboux_img']);
                        int_result.text(data['int_result']);
                        diff_result.text(data['diff_result']);
                        if (data['error_bound']) {
                            error_boundary_result.text(data['error_bound']);
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                return false;
            });
            // Inject our CSRF token into our AJAX request.
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                    }
                }
            });
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        });
    </script>
{% endblock %}